# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backups
*~
*.bak

# Data files
*.dat
*.txt
*.log
*.gz

# Postscript and PDF files
*.ps
*.pdf

# Zeno stuff
.install_*
